version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: alpha_pulse_db
    restart: always

    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: alpha_db

    ports:
      - "5432:5432"

    volumes:
      - ./pgdata:/var/lib/postgresql/data
